<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para o arquivo CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Colégio Vencer Sempre</title>
</head>

<body class="bg-dark text-light">
    <div id="appAllocationSystem">
        <!-- Cabeçalho -->
        <header class="mb-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-light">
                        <h1>{{ schoolName }}</h1>
                        <p>Locação de Equipamentos para Professores e Coordenadores.</p>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- <img src="logo.png" alt="Logo do Colégio Vencer Sempre"> -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Conteúdo da página -->
        <main>
            <div class="container">
                <!-- Botão para abrir o formulário modal de adição de equipamento -->
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                    data-bs-target="#addEquipmentModal">
                    Adicionar equipamento
                </button>

                <div class="row">

                    <!-- Lista de equipamentos disponíveis -->
                    <div class="col-md-6 allocation-column">
                        <h2 class="text-light mb-4">Equipamentos Disponíveis</h2>
                        <ul class="list-group">
                            <li class="list-group-item bg-dark text-light" v-for="equipment in availableEquipmentList">
                                <div class="d-flex justify-content-between align-items-center">

                                    <div class="form-check col-1">
                                        <input class="form-check-input checkbox" type="checkbox"
                                            v-model="equipment.checked" :id="equipment.id"
                                            @change="updateSelectedEquipmentList(equipment)">
                                        <label class="form-check-label" :for="equipment.id"></label>
                                    </div>

                                    <span class="fw-bold">{{ equipment.name }}</span>
                                    <span class="badge bg-primary rounded-pill">ID: {{ equipment.id }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Coluna de equipamentos ocupados -->
                    <div class="col-md-6 allocation-column">
                        <h2 class="text-light">Equipamentos Ocupados</h2>
                        <ul class="list-group">
                            <li class="list-group-item bg-dark text-light" v-for="equipment in allocatedEquipmentList"
                                v-if="equipment.allocatedTo">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fw-bold">{{ equipment.name }}</span>
                                    <div>
                                        <span class="badge bg-secondary rounded-pill">{{equipment.allocatedTo.office}} -
                                            {{ equipment.allocatedTo.name}}</span>
                                        <button class="btn btn-danger ms-3"
                                            @click="deallocateEquipment(equipment)">Desalocar</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#allocateEquipmentModal">
                    Alocar Equipamento
                </button>

                <div class="col-md-6 mt-1">
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                        data-bs-target="#addCollaboratorModal">
                        Adicionar colaborador
                    </button>
                </div>

                <table class="table table-dark">
                    <thead class="text-light">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Cargo</th>
                        </tr>
                    </thead>
                    <tbody class="text-light">
                        <tr v-for="collaborator in collaboratorList" :key="collaborator.id">
                            <td>{{ collaborator.id }}</td>
                            <td>{{ collaborator.name }}</td>
                            <td>{{ collaborator.office }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Modal de adição de equipamento -->
                <div class="modal fade" id="addEquipmentModal" tabindex="-1" aria-labelledby="addEquipmentModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog bg-dark">
                        <div class="modal-content bg-dark">
                            <form @submit.prevent="addEquipment">
                                <div class="modal-header bg-dark">
                                    <h5 class="modal-title text-light" id="addEquipmentModalLabel">Adicionar
                                        equipamento
                                    </h5>
                                    <button type="button" class="btn-close text-light" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body bg-dark">
                                    <div class="mb-3">
                                        <label for="equipmentName" class="form-label text-light">Nome do
                                            equipamento:</label>
                                        <input type="text" class="form-control bg-dark text-light" id="equipmentName"
                                            v-model="equipment.name">
                                    </div>
                                </div>
                                <div class="modal-footer bg-dark">
                                    <button type="button" class="btn btn-secondary text-light"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary text-light">Adicionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal para alocar o equipamento -->
                <form @submit.prevent="allocateEquipment(collaborator.id, selectedEquipmentList)">
                    <div class="modal fade" id="allocateEquipmentModal" tabindex="-1"
                        aria-labelledby="allocateEquipmentModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark text-light">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="allocateEquipmentModalLabel">Selecionar Colaborador
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mb-3">
                                        <label for="collaboratorId" class="col-sm-4 col-form-label">ID do
                                            colaborador:</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control bg-dark text-light"
                                                :id="collaborator.id" v-model="collaborator.id">
                                            <span v-if="collaborator.name">{{ collaborator.name }}</span>
                                        </div>
                                    </div>
                                    <table class="table table-hover table-dark text-light">
                                        <thead>
                                            <tr>
                                                <th>Equipamentos Selecionados:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="equipment in selectedEquipmentList" :key="equipment.id">
                                                <td class="">{{ equipment.name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Alocar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Modal de adição de colaborador -->
                <div class="modal fade" id="addCollaboratorModal" tabindex="-1"
                    aria-labelledby="addCollaboratorModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <form @submit.prevent="addCollaborator(collaborator)">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addCollaboratorModalLabel">Adicionar colaborador
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3 bg-dark">
                                        <label for="collaboratorName" class="form-label">Nome do
                                            colaborador:</label>
                                        <input type="text" class="form-control bg-dark text-light" id="collaboratorName"
                                            v-model="collaborator.name">
                                    </div>
                                    <div class="mb-3 bg-dark">
                                        <label for="collaboratorOffice" class="form-label">Cargo:</label>
                                        <select class="form-select bg-dark text-light" id="collaboratorOffice"
                                            v-model="collaborator.office">
                                            <option value="Professor">Professor</option>
                                            <option value="Coordenador">Coordenador</option>
                                            <option value="Outro">Outro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Adicionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- Vue.js framework -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- App Vue -->
    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    schoolName: 'Colégio Vencer Sempre',
                    equipment: {
                        id: 1,
                        name: '',
                        allocatedTo: {},
                        allocated: false,
                        checked: false,
                    },
                    equipmentList: [],
                    collaborator: {
                        id: '',
                        name: '',
                        office: 'Professor',
                        equipmentsAllocated: [],
                    },
                    collaboratorList: [],
                    allocatedEquipmentList: [],
                    selectedEquipmentList: [],
                    waitingList: [],
                }
            },
            computed: {
                availableEquipmentList() {
                    return this.equipmentList.filter(equipment => !equipment.allocated)
                }
            },

            watch: {
                'collaborator.id': function (collaboratorId) {
                    const collaborator = this.collaboratorList.find(c => c.id === collaboratorId)
                    if (collaborator) {
                        this.collaborator.name = collaborator.name
                    } else {
                        this.collaborator.name = "Não foi encontrado colaborador com este ID."
                    }
                }
            },

            methods: {

                addCollaborator(collaborator) {
                    const newCollaborator = {
                        id: this.collaboratorList.length + 1,
                        name: this.collaborator.name,
                        office: this.collaborator.office,
                        equipmentsAllocated: []
                    }
                    this.collaboratorList.push(newCollaborator)
                    this.collaborator.name = ''
                },

                addEquipment(equipment) {
                    this.equipmentList.push({
                        id: this.equipment.id++,
                        name: this.equipment.name,
                        allocatedTo: {},
                        allocated: false,
                        checked: false,
                    })
                    this.equipment.name = ''
                },

                updateSelectedEquipmentList(equipment) {
                    this.selectedEquipmentList = this.equipmentList.filter(equipment => equipment.checked)
                },

                allocateEquipment(collaboratorId, selectedEquipmentList) {
                    // encontrar o colaborador na lista pelo id
                    const collaborator = this.collaboratorList.find(c => c.id === collaboratorId)

                    // atualizar as propriedades do equipamento
                    selectedEquipmentList.forEach(equipment => {
                        equipment.allocated = true
                        equipment.checked = false
                        equipment.allocatedTo = collaborator
                    });

                    // adicionar o equipamento à lista de equipamentos alocados do colaborador
                    collaborator.equipmentsAllocated = selectedEquipmentList;

                    // adicionar o equipamento à lista de equipamentos alocados geral
                    this.allocatedEquipmentList.push(...selectedEquipmentList)
                },

                deallocateEquipment(equipment) {
                    equipment.allocatedTo = {};
                    equipment.allocated = false;
                    equipment.checked = false;
                    this.allocatedEquipmentList = this.allocatedEquipmentList.filter(e => e.id !== equipment.id);
                    if (!this.equipmentList.includes(equipment)) {
                        this.equipmentList.push(equipment);
                    }
                },

                reserveEquipment(collaborator) {
                    const availableEquipment = this.equipmentList.find(e => e.status === 'available')

                    if (availableEquipment) {
                        availableEquipment.status = 'reserved'
                        this.waitingList.push(collaborator)
                    }
                }
            }
        }).mount('#appAllocationSystem')
    </script>
</body>

</html>